/***
Name: Arrow
Author: Stephen Kennedy
Website: https://stephenkennedy.dev
***/
:root{
	--black: #222222;
	--gray: #444444;
	--dark-blue: #465362;
	--blue: #5A7684;
	--green: #82A3A1;
}
body{
	font-size: 18px;
	font-family: helvetica;
	display: flex;
	flex-flow: row wrap;
	background-color: #222;
	color: #fff;
}
header{
	background-color: var(--dark-blue);
	width: 100%;
	padding: 20px;
	margin-bottom: 10px;
}
header h1{
	margin: 0;
}
header.main{
	width: 250px;
	min-height: calc(100vh - 53px);
	flex-shrink: 0;
	flex-grow: 0;
	padding: 0;
	margin: 0;
}
nav{
	padding: 10px;
}
nav a{
	padding: 10px;
	color: #fff;
	background-color: var(--black);
}
header nav a{
	width: 100%;
	margin-bottom: 5px;
}
#content{
	padding: 20px;
	flex: 1 0 20px;
	flex-shrink: 2;
	width: 100%;
	border: 2px solid var(--dark-blue);
	margin-top: 20px;
	margin-bottom: 20px;
}
#content header{
	margin-top: -20px;
	margin-left: -20px;
	margin-right: -20px;
	width: calc(100% + 40px);
}
footer{
	background-color: var(--dark-blue);
	flex: 1 100%;
	text-align: right;
}
.row{
	padding: 10px;
}
button, .button{
	padding: 5px !important;
	background-color: transparent;
	transition: all 0.2s linear;
	color: #fff;
	border: 1px solid var(--blue) !important;
	vertical-align: top !important;
	margin-top: 0 !important;
}
button:hover, .button:hover, .button.active{
	background-color: #CECECE;
	color: #222;
}
table th, table td{
	padding: 5px;
	border: 1px solid var(--green);
}
table th{
	background-color: #cecece;
	color: #222;
}
/*
Popup styles
*/
.popup{
	background-color: var(--black);
	border: 2px solid var(--dark-blue);
	top: 35%;
	left: 35%;
	box-shadow: 4px 4px 2px 0px var(--blue);
}
.popup .handle{
	background-color: var(--dark-blue);
	color: #fff;
}
h1 a, h2 a, h3, a{
	font-size: 1rem;
	font-weight: normal;
}
a:not(.drag), a.open-popup, .open-popup{
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 5px 7px;
	border: 1px solid var(--blue);
	background-color: var(--black);
	transition: all 0.2s linear;
	text-decoration: none;
	vertical-align: middle;
}
a:hover, a.open-popup:hover, .open-popup:hover{
	background-color: #CECECE;
	color: var(--black);
}
.right{
	float: right;
}
.left{
	float: left;
}
p, label, table{
	margin-bottom: 10px;
}
label{
	display: block;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 20px;
	margin-bottom: 10px;
}
form{
	padding: 10px;
	border: 1px solid var(--green);
	box-shadow: 2px 2px 4px 0px var(--green);
}
input, textarea, select{
	background-color: var(--gray);
	color: #fff;
	border: 1px solid var(--green);
	font-family: helvetica;
}
footer nav.row{
	margin: 0;
	display: inline-block;
}
footer{
	text-align: right;
}
#search{
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: #222;
}
.col{
	padding-left: 5px;
	padding-right: 5px;
}
.contact-section{
	padding: 5px;
	border: 1px solid var(--dark-blue);
}
.contact-section + .contact-section{
	margin-top: 10px;
}
.contact-section label{
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.05em;
	border-top: 1px solid var(--dark-blue);
	padding-top: 15px;
}
.contact-section label:first-of-type{
	margin-top: 0;
	border-top: none;
	padding-top: 0;
}
.pagination.active{
	font-weight: bold;
	font-size: 1.1em;
}
.pagination{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}
.touch{
	display: block;
	padding: 5px;
	border: 1px solid var(--dark-blue);
}
.contact-action-summary{
	max-height: 100vh;
	overflow: auto;
}
.touch + .touch{
	margin-top: 10px;
}
.touch .type, .touch .date{
	display: inline-block;
	width: calc(100% + 10px);
	margin-left: -5px;
	margin-right: -5px;
	padding: 5px;
	background-color: var(--dark-blue);
}
.touch .author{
	padding-top: 5px;
	border-top: 1px solid var(--dark-blue);
	width: 100%;
	display: inline-block;
}
.touch .type{
	margin-top: -5px;
	margin-bottom: 5px;
}
.touch .date{
	margin-top: 5px;
	margin-bottom: -5px;
}
.video-preview{
	width: 325px;
	height: 484px;
	min-width: 200px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	position: relative;
}
.video-contain{
	text-align: center;
}
.video-preview{
	padding: 0px !important;
}
.video-preview .img-contain{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.video-preview .img-contain img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	height: 100%;
	width: auto;
}
.video-preview h4{
	position: absolute;
	padding: 15px;
	bottom: 0px;
	background-color: rgba(0,0,0,0.7);
	transition: all 0.2s ease;
	width: 100%;
	margin-bottom: 0px;
}
.video-preview:hover h4{
	background-color: rgba(255,255,255,0.5);
}
.poster-preview{
	width: 50vw;
	max-width: 400px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.float.right{
	float: right;
}
.float.left{
	float: left;
}
.bold{
	font-weight: bold;
}
@media (max-width: 1690px){
	#content{
		border: none;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 1100px){
	table th, table td{
		text-align: center;
	}
	.right{
		float: none;
		display: block;
	}
	button, .button, input[type="submit"], a:not(.drag), a.open-popup, .open-popup, #searchbar{
		padding: 10px;
		min-height: 48px;
	}
	#searchbar{
		width: calc(100% - 67px);
	}
	#search + table thead{
		top:70px;
	}
}
@media (max-width: 915px){
	body{
		flex-flow: column wrap;
	}
	header.main{
		min-height: 0;
		width: 100%;
		margin-bottom: 10px;
	}
	header nav a{
		width: auto;
	}
	header, footer, header nav, footer nav{
		text-align: center;
	}
	.video-preview{
		min-width: 0px;
		width: 150px;
		height: 223px;
	}
	.poster-preview{
		max-width: 150px;
	}
}