/***
Name: Dev
Author: Stephen Kennedy
Website: https://stephenkennedy.dev
***/
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	font-size: 18px;
}
nav a{
	display: inline-block;
	text-decoration: none;
}
#content{
	max-width: 1440px;
	margin: 0 auto;
}
.row{
	max-width: 1440px;
	margin: 0 auto;
	font-size: 0;
}
.row.wide{
	max-width: 100vw;
}
.row > *{
	font-size: 1rem;
}
/* Layout system */
.col{
	display: inline-block;
	vertical-align: top;
}
.col-one{
	width: 10%;
}
.col-two{
	width: 20%;
}
.col-three{
	width: 30%;
}
.col-four{
	width: 40%;
}
.col-five{
	width: 50%;
}
.col-six{
	width: 60%;
}
.col-seven{
	width: 70%;
}
.col-eight{
	width: 80%;
}
.col-nine{
	width: 90%;
}
.col-full, .col-ten{
	width: 100%;
}
form{
	width: 100%;
}
input, textarea, select{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}
input.auto, textarea.auto, select.auto{
	width: auto;
}
input[type="radio"], input[type="checkbox"]{
	width: auto;
}
button, a, input[type="submit"], .button, .button.toggle_switch{
	cursor: pointer;
	display: inline-block !important;
}
table{
	width: 100%;
}
table thead{
	position: sticky;
	top: 0;
	background-color: #fff;
}
#search + table thead{
	top:50px;
}
table th{
	text-align: left;
}

.flex{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.flex-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}
.flex-row > span{
	display: flex;
	flex-basis: auto;
	flex: 1;
	padding: 10px;
	overflow: hidden;
}
.flex-row.result-header{
	position: sticky;
	top: 0;
}

#audio-library-main{
	
}

/*
Popup styles
*/
#popup{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 100;
}
#popup > *{
	pointer-events: all;
}
.popup{
	width: 500px;
	height: auto;
	min-height: 300px;
	position: absolute;
	z-index: 100;
}
.popup .handle{
	padding: 5px;
	min-height: 10px;
	width: 100%;
	position: relative;
	cursor: grab;
}
.popup .handle.dragging{
	cursor: grabbing;
}
.popup .content{
	padding: 5px;
}
.popup .handle > div{
	display: inline-block;
	vertical-align: top;
}
.popup .handle > div:first-of-type{
	width: 75%;
}
.popup .handle > div:last-of-type{
	width: 25%;
	text-align: right;
}
.popup .content{
	overflow: auto;
}
.right{
	float: right;
}
.left{
	float: left;
}
.inline{
	display: inline !important;
}
notification{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	padding: 5px;
}
input.issue, textarea.issue, select.issue{
	border: 1px solid red;
}
input, button, select, textarea{
	transition: all 0.2s linear;
	opacity: 1;
	background-color: inherit;
}
input[disabled], button[disabled], select[disabled], textarea[disabled]{
	opacity: 0.5;
}
fieldset{
	padding: 20px;
}
fieldset + input, fieldset + button, fieldset + textarea, fieldset + select{
	margin-top: 20px;
}
fieldset legend{
	font-weight: bold;
	text-style: italic;
}
.variable-section{
	max-height: 0px;
	padding: 0px;
	opacity: 0;
	overflow: hidden;
}
.variable-section.active{
	max-height: 100vh;
	opacity: 1;
	padding: 10px;
}
label.required:after{
	content: ' *';
	color: red;
}
#searchbar{
	width: calc(100% - 57px);
	display: inline-block;
}
#searchsubmit{
	display: inline-block;
}
#searchbar, #searchsubmit{
	vertical-align: top;
	margin-bottom: 0 !important;
}
#search{
	margin-bottom: 10px;
}
.toggle{
	display: none;
}
.toggle.active{
	display: block;
}
/*
Name: Stephen Kennedy
Date: 9/10/2020
Comment: Tray system
*/
.tray{
	position: fixed;
	top: 0;
	transition: all 0.4s ease;
	border: 1px solid #fff;
	height: 100vh;
	padding: 1rem 2.5rem;
	z-index: 2001;
	/*overflow-x: visible;
	overflow-y: auto;*/
}
.tray.open {
	z-index: 2000;
}
.tray.no-pad{
	padding: 0;
}
.tray.left{
	transform: translateX(-100%);
	left: 0;	
}
.tray.one.open .controls{
	transform: translateX(0%);
	opacity: 0.5;
}
.tray .controls{
	top: 0;
	position: absolute;
	border: 1px solid #fff;
	transition: transform 0.4s ease;
	margin-top: -1px; /*Offset to the top of the border*/
	z-index: 2000;
}
.tray.open .controls{
	z-index: 10000;
}
.tray.second .controls{
	top: 2.5rem;
}
.tray.third .controls{
	top: 5rem;
}
.tray.fourth .controls{
	top: 7.5rem;
}
.tray.fifth .controls{
	top: 10rem;
}
.tray.sixth .controls{
	top: 12.5rem;
}
.tray .controls i{
	padding: .5rem;
	display: block;
	cursor: pointer;
	transition: background 0.4s ease;
}
.tray .controls i:hover{
	background-color: rgba(255,255,255, 0.25);
}
.tray .controls i + i{
	border-top: 1px solid #fff;
}
.tray.left .controls{
	transform: translateX(100%);
	right: 0;
}
.tray.right .controls{
	transform: translateX(-100%);
	left: 0;
}
.tray.right{
	right: 0;
	transform: translateX(100%);
}
.tray.left.open, .tray.right.open{
	transform: translateX(0);
	z-index: 2000;
}
.tray.one.left.open, .tray.one.right.open{
	z-index: 10000;
}
.tray > .container > .content{
	display: block;
	height: calc(100vh - 5rem);
	padding-left: 2rem;
	padding-right: 2rem;
	overflow: auto;
}
.tray > .container > h1, .tray > .container > h2, .tray > .container > h3, .tray > .container > h4, .tray > .container > h5, .tray > .container > h6{
	margin: 0px;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
@media only screen and (max-width: 1440px){
	#content{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media only screen and (max-width: 993px){
	.tray.left.open, .tray.right.open {
		z-index: 100;
	}
	.tray.open .controls{
		transform: translateX(0%);
		opacity: 0.5;
		z-index: 10000;
	}
}
@media only screen and (max-width: 768px){
	.popup{
		width: 100vw;
		height: 100vh;
		min-height: 300px;
		position: absolute;
		left: 0 !important;
		top: 0 !important;
	}
	.col, .col-one, .col-two, .col-three, .col-four, .col-five, .col-six, .col-seven, .col-eight, .col-nine, .col-ten{
		width: 100% !important;
	}
	#content{
		max-width: 100vw;
	}
}