/***
Name: Arrow
Author: Steph Kennedy
Website: https://Stephkennedy.dev
***/
:root{
	--black: #000;
	--rgb-black: 0,0,0;
	--white: #fff;
	--rgb-white: 255,255,255;
	--gray: #222;
	--rgb-gray: 34,34,34;
	--main-accent: #4C1A57;
	--rgb-main-accent: 76,26,87;
	--secondary-accent: #c7cbcc;
	--rgb-secondary-accent: 199,203,204;
	--shadows: #eeecea;
	--rgb-shadows: 238,236,234;
	--border-radius: 30px;
	--transition-speed: 0.2s;
	--transition-speed-long: 0.4s;
	--success: green;
	--error: red;
}
body{
	font-size: 18px;
	font-family: helvetica;
	display: flex;
	flex-flow: row wrap;
	background-color: var(--shadows);
	color: var(--gray);
}
div#progress_bar_container{
	background-color: var(--secondary-accent);
	color: var(--white);
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
}
#video-background{
	width: auto;
	height: auto;
	min-width: 100vw;
	min-height: 100vh;
	opacity: 0.25;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#video-holder{
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
}
header{
	background-color: rgba(var(--rgb-main-accent), 1);
	width: 100%;
	padding: 2rem;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	color: var(--white);
}
header h1{
	margin: 0;
}
header.main{
	width: 250px;
	min-height: calc(100vh - 53px);
	flex-shrink: 0;
	flex-grow: 0;
	padding: 0;
	margin: 0;
}
header.main div#logo{
	max-width: 100%;
	display: flex;
	align-items: center;
	padding-top: .5rem;
	padding-bottom: .5rem;
	justify-content: center;
}
header.main div#logo img{
	max-width: 25%;
	max-height: 75px;
	display: flex;
}
header.main div#logo span#logo-text{
	display: flex;
	max-width: 75%;
	font-weight: bold;
	padding-left: .5rem;
	padding-right: .5rem;
}
nav{
	padding: 10px;
}
nav a{
	padding: 10px;
	color: var(--white);
	background-color: rgba(var(--rgb-black), 0.5);
}
nav a.subnav{
	margin-left: 1rem;
	width: calc(100% - 1rem);
}
header nav a{
	width: 100%;
	margin-bottom: 5px;
}
#content{
	padding: 2rem;
	flex: 1 0 20px;
	flex-shrink: 2;
	width: 100%;
	border-bottom: 2px solid var(--secondary-accent);
	margin-top: 20px;
	margin-bottom: 20px;
	background: var(--white);
	z-index: 1;
	position: relative;
	border-radius: var(--border-radius);
	overflow: hidden;
	min-height: calc(100vh - 40px);
}
#content header{
	margin-top: -2rem;
	margin-left: -2rem;
	margin-right: -2rem;
	width: calc(100% + 4rem);
}
footer{
	background-color: rgba(var(--rgb-main-accent), 1);
	flex: 1 100%;
	text-align: right;
	position: relative;
	z-index: 0;
}
.row{
	padding: 10px;
}
button:not(.toolbarButton), .button{
	padding: 10px 15px !important;
	background-color: var(--main-accent);
	transition: all var(--transition-speed) linear;
	color: var(--white);
	border-top: 0px solid var(--secondary-accent) !important;
	border-bottom: 1px solid var(--secondary-accent)!important;
	border-right: none;
	border-left: none;
	vertical-align: top !important;
	margin-top: 0 !important;
	min-width: 48px;
	text-align: center;
	border-radius: var(--border-radius);
}
header button:not(.toolbarButton),  header .button,
footer button:not(.toolbarButton), footer .button,
.tray h2 button:not(.toolbarButton),  .tray h2 .button{
	background-color: var(--shadows);
	color: var(--gray);
}
button:hover, .button:hover, .button.active{
	background-color: var(--secondary-accent) !important;
	color:	var(--gray);
}
table, table th, table td{
	border-collapse: collapse;
}
table th, table td{
	padding: 5px;
	border: 1px solid var(--shadows);
}
table th{
	background-color: var(--main-accent);
	color: var(--white);
}
/*
Popup styles
*/
.popup{
	background-color: var(--white);
	border: none;
	border-right: 2px solid var(--secondary-accent);
	border-bottom: 2px solid var(--secondary-accent);
	top: 35%;
	left: 35%;
	border-radius: var(--border-radius);
	overflow: hidden;
}
.popup .handle{
	background-color: rgba(var(--rgb-main-accent), 1);
	color: var(--white);
	padding: 1rem;
}
h1 a, h2 a, h3, a{
	font-size: 1rem;
	font-weight: normal;
}
a:not(.drag):not(#viewBookmark):not(#back), a.open-popup, .open-popup{
	color: var(--white);
	cursor: pointer;
	display: inline-block;
	padding: 10px 15px;
	border-top: 0px solid var(--secondary-accent);
	border-bottom: 2px solid var(--secondary-accent);
	background-color: var(--main-accent);
	transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
	border-radius: var(--border-radius);
	overflow: hidden;
}
header a:not(.drag):not(#viewBookmark):not(#back), header a.open-popup, header .open-popup
a.file-link:not(.drag):not(#viewBookmark):not(#back),
footer a:not(.drag):not(#viewBookmark):not(#back), footer a.open-popup, footer .open-popup,
.handle a:not(.drag):not(#viewBookmark):not(#back), .handle a.open-popup, footer .open-popup{
	background-color: var(--shadows);
	color: var(--gray);
}
a.file-link:not(.drag):not(#viewBookmark):not(#back)
{
	text-align: left;
	border-radius: 0;
	background: var(--white);
	color: var(--gray);
}
nav a:not(.drag):not(#viewBookmark):not(#back){
	text-align: left;
}
#cb-page-content a#back,
#cb-page-content button,
#cb-page-content a.button{
	box-shadow: none !important;
	border: none !important;
	background: none !important;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
	color: #fff !important;
}
#cb-page-content a.button:active,
#cb-page-content a.button:hover
#cb-page-content button:active,
#cb-page-content button:hover{
	background: none !important;
	opacity: 1 !important;
}
a:not(.drag):not(#viewBookmark):not(#back):hover, a.open-popup:hover, .open-popup:hover{
	background-color: var(--secondary-accent);
	color: var(--black);
}
.right{
	float: right;
}
.left{
	float: left;
}
p, label, table{
	margin-bottom: 10px;
}
label{
	display: block;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 20px;
	margin-bottom: 10px;
}
form{
	padding: 1rem;
	border-bottom: 2px solid var(--secondary-accent);
	background: rgba(var(--rgb-secondary-accent), 0.1);
	border-radius: var(--border-radius);
}
input, textarea, select{
	background-color: rgba(var(--rgb-shadows), 0.75);
	color: var(--gray);
	border: none;
	border-bottom: 1px solid var(--main-accent);
	font-family: helvetica;
}
input + button, textarea + button, select + button{
	margin-top: 1rem;
}
footer nav.row{
	margin: 0;
	display: inline-block;
}
footer{
	text-align: right;
}
input#search{
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: var(--shadows);
	color: var(--gray);
}
#search:placeholder{
	color: var(--gray);
}
button#searchsubmit{
	margin-top: 1rem !important;
}
.col{
	padding-left: 5px;
	padding-right: 5px;
}
.contact-section{
	padding: 5px;
	border: 1px solid var(--main-accent);
}
.contact-section + .contact-section{
	margin-top: 10px;
}
.contact-section label{
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.05em;
	border-top: 1px solid var(--main-accent);
	padding-top: 15px;
}
.contact-section label:first-of-type{
	margin-top: 0;
	border-top: none;
	padding-top: 0;
}
.pagination.active{
	font-weight: bold;
	font-size: 1.1em;
}
.pagination{
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
}
.touch{
	display: block;
	padding: 5px;
	border: 1px solid var(--main-accent);
}
.contact-action-summary{
	max-height: 100vh;
	overflow: auto;
}
.touch + .touch{
	margin-top: 10px;
}
.touch .type, .touch .date{
	display: inline-block;
	width: calc(100% + 10px);
	margin-left: -5px;
	margin-right: -5px;
	padding: 5px;
	background-color: var(--main-accent);
}
.touch .author{
	padding-top: 5px;
	border-top: 1px solid var(--main-accent);
	width: 100%;
	display: inline-block;
}
.touch .type{
	margin-top: -5px;
	margin-bottom: 5px;
}
.touch .date{
	margin-top: 5px;
	margin-bottom: -5px;
}
a.video-preview{
	width: 325px;
	height: 325px;
	min-width: 200px;
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	position: relative;
	z-index: 1;
	transform: scale(1);
	transition: background-color var(--transition-speed) linear, color var(--transition-speed) linear, transform var(--transition-speed) ease !important;
}
a.video-preview:hover{
	z-index: 10;
	transform: scale(1.05);
}
.video-contain{
	text-align: center;
}
.video-preview{
	padding: 0px !important;
}
.video-preview .img-contain{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.video-preview .img-contain img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*min-width: 100%;*/
	min-height: 100%;
	height: auto;
	width: auto;
	border: none;
	max-width: 355.5555%;
	max-height: 100%;
}
.video-preview .img-contain i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 4rem;
}
.video-preview h4{
	position: absolute;
	padding: 15px;
	bottom: 0px;
	background-color: rgba(var(--rgb-shadows),0.65);
	text-shadow: 2px 2px 2px rgba(var(--rgb-shadows), 0.75);
	transition: all var(--transition-speed) ease;
	backdrop-filter: blur(2px);
	width: 100%;
	margin-bottom: 0px;
	color: var(--gray);
}
.video-preview:hover h4{
	background-color: rgba(var(--rgb-main-accent), 0.65);
	color: var(--white);
	text-shadow: 2px 2px 2px rgba(var(--rgb-shadows), 0);
}
.video-list{
	margin-left: 0rem;
	display: inline-block;
	vertical-align: top;
	list-style-position: inner;
}
.video-list li{
	display: inline-block;
	font-size: 1.05rem;
	font-style: italic;
}
.video-list li a{
	width: 50%;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
	font-weight: normal;
	margin-top: 5px;
	font-style: normal;
}
.video-list li{
	margin-bottom: 20px;
	vertical-align: bottom !important;
}
.poster-preview{
	width: 50vw;
	max-width: 400px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.series_poster, .series_poster_loaded{
	height: 150px;
	width: auto;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.episode_progress{
	height: 20px;
	width: 100%;
	position: relative;
	background: var(--black);
	border: 1px solid var(--secondary-accent);
	border-radius: var(--border-radius);
	overflow: hidden;
	padding: 0px;
}
.progress_bar{
	position: relative;
	height: 20px;
	background: var(--secondary-accent);
	transition: width 1s ease;
}
.float.right{
	float: right;
}
.float.left{
	float: left;
}
.bold{
	font-weight: bold;
}
#vis{
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}
.player{
	width: 100vw;
	position: absolute;
	bottom: 0;
}
.mini-player{
	width: 300px;
	position: fixed;
	bottom: 0;
	transform: translateY(260px);
	left: 0;
	z-index: 1;
	background-color: var(--black);
	border-left: 1px solid rgba(var(--rgb-main-accent), 1);
	border-right: 1px solid rgba(var(--rgb-main-accent), 1);
	text-align: center;
	transition: transform var(--transition-speed) ease;
	overflow: hidden;
}
.mini-player info{
	position: absolute;
	right: 0;
	top: 48px;
	max-width: calc(100% - 48px);
}
.mini-player info a{
	text-align: right !important;
}
.mini-player .mini-player-label{
	color: var(--white);
	position: relative;
	font-size: 1rem;
	text-shadow: 2px 2px 2px #000;
	padding: 5px 10px;
	display: block !important;
	text-align: right;
	margin-bottom: 0;
	max-width: 100%;
	border: none !important;
	background-color: transparent !important;
	box-shadow: none !important;
	transition: color var(--transition-speed) linear, opacity var(--transition-speed-long) ease;
	opacity: 1;
}
.mini-player.inactive .mini-player-label{
	opacity: 0;
}
.mini-player.inactive.labels-only .mini-player-label{
	opacity: 1;
}
.mini-player .mini-player-label:hover{
	color: rgba(var(--rgb-white), 0.7);
	opacity: 1 !important;
}
.mini-player.fullscreen .mini-player-label{
	font-size: 1.5rem;
}
.mini-player .playlist-toggle{
	position: absolute;
	top: 48px;
	left: 0px;
	padding: 16px;
	width: 48px;
	height: 48px;
	transition: color var(--transition-speed) linear, background var(--transition-speed) linear;
	background-color: rgba(255,255,255,0);
}
.mini-player .sleep-timer{
	position: absolute;
	top: 96px;
	left: 0px;
	width: 48px;
	height: 48px;
	padding: 16px;
	transition: color var(--transition-speed) linear, background var(--transition-speed) linear, opacity var(--transition-speed-long) ease;
	background-color: rgba(255,255,255,0);
	opacity: 1;
}
.mini-player.inactive .sleep-timer{
	opacity: 0;
}
.mini-player .playlist-toggle:hover, .mini-player .sleep-timer:hover{
	cursor: pointer;
	color: #222;
	background-color: rgba(255,255,255,.5);
}
.mini-player .mini-player-playlist{
	width: 252px;
	height: 150px;
	top: 40px;
	right: 0px;
	opacity: 0;
	position: absolute;
	transition: opacity 0.4s ease;
	background-color: rgba(0,0,0,0.8);
	overflow-y: auto;
	pointer-events: none;
}
.mini-player.fullscreen .mini-player-playlist{
	height: calc(100vh - 158px);
}
.mini-player-seek-counter{
	position: fixed;
	text-align: center;
	background-color: var(--black);
	border-top: 1px solid var(--white);
	opacity: 1;
}
.mini-player-seek-counter.hidden{
	opacity: 0;
}
.mini-player-seek-counter:after{
	content: '';
	position: absolute;
	height: 7px;
	width: 7px;
	background: rgb(var(--rgb-black));
	background: linear-gradient(135deg, rgba(var(--rgb-black),0) 0%, rgba(var(--rgb-black),0) 50%, rgba(var(--rgb-black),1) 50%, rgba(var(--rgb-black),1) 100%);
	border-right: 1px solid var(--white);
	border-bottom: 1px solid var(--white);
	left: 50%;
	top: 100%;
	transform: rotate(45deg) translate(-4.5px, -1px);
}
.mini-player-seek-counter.hidden:after{
	opacity: 0;
}
#playlists li.playlist-list{
	display: flex;
	direction: row;
	background: transparent;
	cursor: pointer;
}
#playlists li.playlist-list:hover{
	background: var(--secondary-accent);
}
#playlists li.playlist-list i.delete-playlist{
	padding: 15px;
	height: 48px;
	width: 48px;
	flex-shrink: 0;
	cursor: pointer;
	background: transparent;
}
#playlists li.playlist-list i.delete-playlist:hover{
	background: red
}
#playlists li.playlist-list span.playlist-title{
	display: inline-block;
	overflow: hidden;
	text-align: left;
	height: 48px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 5px;
	padding-bottom: 5px;
	flex-grow: 1;
}
.playlist .playlist-track{
	display: flex;
	flex-direction: row;
}
.playlist .playlist-track i{
	padding: 15px;
	height: 48px;
	width: 48px;
	flex-shrink: 0;
}
.playlist .playlist-track i.playlist-remove{
	cursor: pointer;
}
.playlist .playlist-track i.playlist-remove:hover{
	background-color: red;
}
.playlist .playlist-track i.playlist-handle{
	cursor: grab;
}
.playlist .playlist-track i.playlist-handle:hover{
	color: var(--gray);
	background-color: var(--white);
}
.playlist .playlist-track.current{
	background: var(--main-accent);
	color: var(--white);
}
.playlist .playlist-track:hover{
	background: var(--secondary-accent);
	cursor: pointer;
}
.playlist .playlist-track span{
	display: inline-block;
	overflow: hidden;
	text-align: left;
	height: 48px;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 5px;
	padding-bottom: 5px;
}
.playlist .playlist-track span.name{
	flex-grow: 1;
}
.playlist .playlist-track span.duration{
	min-width: 7rem;
	text-align: right;
	flex-shrink: 0;
}
.mini-player .mini-player-playlist.open{
	opacity: 1;
	pointer-events: all;
}
.mini-player{
	color: #fff;
}
.mini-player-audio-controls{
	width: 100%;
	height: 110px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	padding-left: 3px;
	padding-right: 3px;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,5,5,1) 76%, rgba(100,100,100,1) 100%);
	color: #fff;
	opacity: 1;
	transition: opacity var(--transition-speed-long) ease;
	position: relative;
	z-index: 10;
}
.mini-player.inactive .mini-player-audio-controls{
	opacity: 0;
}
.mini-player-audio-controls .fa{
	cursor: pointer;
	transition: all var(--transition-speed) linear;
	vertical-align: middle;
	padding: 15px;
	display: inline-block;
	width: 48px;
	height: 48px;
	background: rgba(var(--rgb-secondary-accent), 0);
}
.mini-player-audio-controls .fa:hover{
	cursor: pointer;
	color: #222;
	background: rgba(var(--rgb-secondary-accent), 0.5);
}
.mini-player-audio-controls .fa.active{
	color: #218721;
}
.mini-player-audio-controls .fa.disable{
	color: #333;
}
.mini-player-audio-controls .mini-one{
	font-size: .5rem;
	vertical-align: middle;
	opacity: 0;
}
.mini-player-audio-controls .fa.active.one + .mini-one{
	opacity: 1;
	color: #218721;
}
.mini-player-audio-controls .seek{
	width: calc(100% - 159px);
	display: inline-block;
	margin: 5px;
	margin-top: 14px;
	margin-bottom: 14px;
	padding: 0px;
	vertical-align: middle;
	border: 0.2px solid var(--white);
}
@-moz-document url-prefix() {
	.mini-player-audio-controls .seek{
		border: none;
	}
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background: var(--white);
  cursor: pointer;
  margin-top: -2px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background: var(--white);
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  background: var(--white);
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: transparent;
  border-radius: 100px;
  border: 0.2px solid var(--white);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: transparent;
  border-radius: 1.3px;
  border: 0.2px solid var(--white);
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid var(--white);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: transparent;
}
input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0.2px solid var(--white);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.mini-player{
	cursor: auto;
}
.mini-player.fullscreen{
	width: 100%; /* Fallback if Min() is not supported */
	width: min(100vw, 100%);
	height: 100%;
	transform: translateY(calc(100vh - 48px));
	border-left: none;
	border-right: none;
}
.mini-player.fullscreen.inactive{
	cursor: none;
}
.mini-player.fullscreen canvas{
	margin-bottom: -110px;
	margin-top: -48px;
}
.mini-player.open.fullscreen{
	transform: translateY(0);
}
.mini-player .current-track{
	width: 100%;
}
.mini-player.open{
	/*bottom: 0;*/
	transform: translateY(0);
}
.mini-player header{
	height: 48px;
	font-size: .75rem;
	/*display: flex;
	flex-direction: row;*/
	width: 100%;
	padding: 0;
	overflow: hidden;
	background-color: var(--main-accent);
	margin-bottom: 0px;
	opacity: 1;
	transition: opacity var(--transition-speed-long) ease;
}
.mini-player.inactive header{
	opacity: 0;
}
.mini-player header .shadow{
	display: inline-block;
	vertical-align: top;
	height: 48px;
	width: 0px;
	box-shadow: 12px 0px 10px 0px rgba(var(--rgb-main-accent),1);
}
.mini-player header .title{
	/*flex-grow: 1;*/
	text-align: left;
	overflow: hidden;
	padding: 12px;
	font-weight: bold;
	width: 123px;
	display: inline-block;
	vertical-align: top;
	white-space: nowrap;
}

.mini-player.fullscreen header .title{
	width: calc(100% - 177px);
}
.mini-player header .title span{
	display: inline-block;
	position: relative;
}
.mini-player header .title span.marquee{
	animation: marquee 10s linear infinite;
}
.mini-player header .controls{
	/*flex-grow: 0;*/
	width: 100%;
	text-align: right;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	/*box-shadow: -12px 0px 10px 0px rgba(var(--rgb-main-accent),1);*/
}
.mini-player header .controls i{
	cursor: pointer;
	transition: all var(--transition-speed) ease;
	height: 48px;
	width: 48px;
	padding: 17px;
	background-color: rgba(var(--rgb-gray), 0);
}
.mini-player header .controls i:hover{
	color: var(--secondary-accent);
	background-color: rgba(var(--rgb-gray), 0.75);
}
.mini-player header .controls i + i{
	margin-left: 10px;
}
div + table{
	margin-top: 10px;
}
#profile_container .col > *{
	vertical-align: middle;
	font-size: 1.5rem;
	margin-bottom: 0;
	min-height: 48px;
}
#profile_container .col input{
	width: 1.5rem;
}
#profile_container .col label{
	position: relative;
	display: inline-block;
	width: calc(100% - 1.8rem);
	padding-top: .5rem;
}
#profile_container .col{
	transition: background var(--transition-speed) linear;
}
#profile_container .col:hover{
	background-color: rgba(var(--rgb-secondary-accent), 0.7);
	cursor: pointer;
}
.dir-container{
	width: 100%;
	display: block;
	position: relative;
	height: 50vh;
	overflow: auto;
}
a.file-link{
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}
.tray{
	background-color: rgba(var(--rgb-main-accent), 1);
	color: var(--white);
}
.tray .controls{
	background-color: rgba(var(--rgb-main-accent), 1);
	color: var(--white);
}
.tray > .container > .content{
	background-color: var(--shadows);
	color: var(--gray);
}
.tray .controls span.counter{
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(calc(-100% + 5px));
	transition: opacity var(--transition-speed) linear;
	background-color: var(--white);
	color: var(--gray);
	font-size: .5rem;
	padding: .4rem 2px;
	height: 1.5rem;
	width: 1.5rem;
	text-align: center;
	border-radius: 100%;
	box-shadow: 2px 2px 2px 0px var(--black);
	opacity: 1;
	font-weight: bold;
}
.tray .controls span.counter.hidden{
	opacity: 0;
}

/*
Name: Steph Kennedy
Date: 9/11/2020
Comment: Flex tables
*/
.flex-row{
	border: 1px solid var(--secondary-accent);
}
.flex-row > span{
	border-right: 1px solid var(--secondary-accent);
}
.flex-row > span:last-child{
	border-right: none;
}
.flex-row.result-header{
	background: var(--main-accent);
	color: var(--white);
	font-weight: bold;
	font-size: 1.05rem;
	position: sticky;
	top: 0;
	overflow: hidden;
}
.flex-row.result-header > span{
	border-right: 1px solid var(--shadows);
}
.flex-row.result-header > span:last-child{
	border-right: none;
}

#audio-library-main .flex-row > span{
	min-width: 120px;
}

#audio-library-main .flex-row > span.result-five{
	min-width: 200px;
}

#audio-library-main .flex-row > span.result-four, #audio-library-main .flex-row > span.result-five{
	max-width: 12rem;
}
#audio-library-main .flex-row > span.result-one{
	flex-grow: 2;
	min-width: 280px;
}
.percentage-bar{
	display: block;
	width: 100%;
	height: 2rem;
	padding: 0;
	background-color: var(--secondary-accent);
	position: relative;
}
.percentage-bar .inner-bar{
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	background: green;
	z-index: 0;
}
.percentage-bar .percentage-label{
	display: inline-block;
	height: 100%;
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	text-shadow: 2px 2px 2px rgba(0,0,0,1);
	color: #fff;
	position: relative;
	z-index: 1;
}
@media (max-width: 1690px){
	#content{
		border: none;
		margin-top: 0;
		margin-bottom: 0;
	}
}
@media (max-width: 1100px){
	table th, table td{
		text-align: center;
	}
	.right{
		float: none;
		display: block;
	}
	button:not(.toolbarButton), .button, input[type="submit"], a:not(.drag):not(.toolbarButton), a.open-popup, .open-popup, #searchbar{
		padding: 10px;
		min-height: 48px;
	}
	#searchbar{
		width: calc(100% - 67px);
	}
	#search + table thead{
		top:70px;
	}
	
	.flex-row.result-header{
		display: none;
	}
	#audio-library-main .flex-row > span{
		border: none;
	}
}
@media (max-width: 915px){
	body{
		flex-flow: column wrap;
		display: block;
	}
	header.main{
		min-height: 0;
		width: 100%;
		margin-bottom: 10px;
	}
	header nav a, header nav a.subnav{
		width: auto;
		margin: 0.25rem;
	}
	header, footer, header nav, footer nav{
		text-align: center;
	}
	.video-preview{
		min-width: 0px;
		width: 150px;
		height: 223px;
	}
	.poster-preview{
		max-width: 150px;
	}
	#content{
		overflow: visible;
	}
	#content > header{
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}
}
@keyframes marquee{
	0%{
		transform: translateX(198px);
	}
	100%{
		transform: translateX(-100%);
	}
	
}
