/***
Name: Dev
Author: Stephen Kennedy
Website: https://stephenkennedy.dev
***/

body{
	font-size: 18px;
	font-family: helvetica;
}
header{
	background-color: #ececec;
}
nav{
	padding: 10px;
}
nav a{
	padding: 10px;
	color: #222;
}
nav a:hover{
	background-color: #fff;
}
#content{
	padding-top: 20px;
	padding-bottom: 20px;
}
footer{
	background-color: #ececec;
}
.row{
	padding: 10px;
	background-color: #cecece;
}
button{
	padding: 5px;
}
table th, table td{
	padding: 5px;
	border: 1px solid #222;
}
/*
Popup styles
*/
.popup{
	background-color: #fff;
	border: 1px solid #222;
}
.popup .handle{
	background-color: #222;
	color: #fff;
}
a.open-popup, .open-popup{
	color: blue;
	cursor: pointer;
	display: inline-block;
}
a.open-popup:hover, .open-popup:hover{
	text-decoration: underline;
}
.right{
	float: right;
}
.left{
	float: left;
}
p, label, table{
	margin-bottom: 10px;
}
label{
	display: block;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 20px;
	margin-bottom: 10px;
}
form{
	padding: 10px;
	border: 1px solid #222;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.4);
}
#content{
	transform: skewX(-16deg);
}
#content h1{
	transition: transform 0.4s ease;
}
#content h1:hover{
	transform: translateX(-15px);
}